<!--Saved Articles Page-->

<div class="container">

    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1> Saved Articles</h1>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            {{#if article}}
                {{#each article}}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center><h4>{{this.title}}</h4></center>
                        </div>
                        <div class="panel-body">
                            <center><p> {{this.summary}}</p></center>
                            <center><a href={{this.link}} target="_blank">View the Article Here</a></center>
                            <br><br>
                            <center><div class="buttons">
                                <button type="button" class="btn btn-success addNote" data-toggle="modal" data-target="#noteModal{{this._id}}" data-id={{this._id}}>Add a Note</button>
                                <button type="button" class="btn btn-danger deleteArticle" id="deleteArticle" data-id={{this._id}}>Delete</button>
                            </div></center>
                        </div>
                    </div>
                {{/each}}
            {{else}}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>There are no saved articles.</h4>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>

<!--Clicked Notes Modal-->
{{#each article}}
    {{> notes-modal }}
{{/each}}